<!DOCTYPE html>
<html>
<head>
    <title>{{ member.name }}</title>
</head>
<body>
    <h1>{{ member.name }}</h1>
    <p>Email: {{ member.email }}</p>
    <form action="{{ url_for('members.update_member', id=member._id) }}" method="post">
        <input type="text" name="name" value="{{ member.name }}">
        <input type="text" name="email" value="{{ member.email }}">
        <button type="submit">Update Member</button>
    </form>
    <form action="{{ url_for('members.delete_member', id=member._id) }}" method="post">
        <button type="submit">Delete Member</button>
    </form>
</body>
</html>
