<!DOCTYPE html>
<html>
<head>
    <title>{{ 'Edit' if member else 'Add' }} Member</title>
</head>
<body>
    <h1>{{ 'Edit' if member else 'Add' }} Member</h1>
    <form action="{{ url_for('members.update_member', id=member._id) if member else url_for('members.add_member') }}" method="post">
        <input type="text" name="name" value="{{ member.name if member else '' }}" placeholder="Name">
        <input type="text" name="email" value="{{ member.email if member else '' }}" placeholder="Email">
        <button type="submit">{{ 'Update' if member else 'Add' }} Member</button>
    </form>
</body>
</html>
