<!DOCTYPE html>
<html>
<head>
    <title>{{ book.title }}</title>
</head>
<body>
    <h1>{{ book.title }}</h1>
    <p>Author ID: {{ book.author_id }}</p>
    <form action="{{ url_for('books.update_book', id=book._id) }}" method="post">
        <input type="text" name="title" value="{{ book.title }}">
        <input type="text" name="author_id" value="{{ book.author_id }}">
        <button type="submit">Update Book</button>
    </form>
    <form action="{{ url_for('books.delete_book', id=book._id) }}" method="post">
        <button type="submit">Delete Book</button>
    </form>
</body>
</html>
