<!DOCTYPE html>
<html>
<head>
    <title>{{ 'Edit' if author else 'Add' }} Author</title>
</head>
<body>
    <h1>{{ 'Edit' if author else 'Add' }} Author</h1>
    <form action="{{ url_for('authors.update_author', id=author['a']['id']) if author else url_for('authors.add_author') }}" method="post">
        <input type="text" name="id" value="{{ author['a']['id'] if author else '' }}" placeholder="ID" {% if author %}readonly{% endif %}>
        <input type="text" name="name" value="{{ author['a']['name'] if author else '' }}" placeholder="Name">
        <button type="submit">{{ 'Update' if author else 'Add' }} Author</button>
    </form>
</body>
</html>
