<!DOCTYPE html>
<html>
<head>
    <title>{{ 'Edit' if loan else 'Add' }} Loan</title>
</head>
<body>
    <h1>{{ 'Edit' if loan else 'Add' }} Loan</h1>
    <form action="{{ url_for('loans.update_loan', id=loan._id) if loan else url_for('loans.add_loan') }}" method="post">
        <input type="text" name="book_id" value="{{ loan.book_id if loan else '' }}" placeholder="Book ID">
        <input type="text" name="member_id" value="{{ loan.member_id if loan else '' }}" placeholder="Member ID">
        <input type="date" name="loan_date" value="{{ loan.loan_date if loan else '' }}" placeholder="Loan Date">
        <button type="submit">{{ 'Update' if loan else 'Add' }} Loan</button>
    </form>
</body>
</html>
